[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "biodb"]
	path = biodb
	url = https://github.com/ceabiodb/biodb
[submodule "biodbChebi"]
	path = biodbChebi
	url = https://github.com/ceabiodb/biodbchebi
[submodule "biodbHmdb"]
	path = biodbHmdb
	url = https://github.com/ceabiodb/biodbhmdb
[submodule "biodbKegg"]
	path = biodbKegg
	url = https://github.com/ceabiodb/biodbkegg
[submodule "biodbLipidmaps"]
	path = biodbLipidmaps
	url = https://github.com/ceabiodb/biodblipidmaps
[submodule "biodbNcbi"]
	path = biodbNcbi
	url = https://github.com/ceabiodb/biodbncbi
[submodule "biodbUniprot"]
	path = biodbUniprot
	url = https://github.com/ceabiodb/biodbuniprot
